$dark-grey: #333;

$font-xxs: 9px;
$font-xs: 12px;
$font-s: 14px;
$font-ms: 18px;
$font-m: 22px;
$font-ml: 28px;
$font-l: 35px;
$font-xl: 44px;
$font-xxl: 55px;
$font-scream: 64px;
$font-scale: $font-xxs, $font-xs, $font-s, $font-ms, $font-m, $font-ml, $font-l, $font-xl, $font-xxl, $font-scream;

@mixin font() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin font-bold() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@mixin font-code() {
  font-family: 'Cousine', monospace;
}

@mixin font-size($size) {
  $font-index: index($font-scale, $size);
  font-size: $size;
  line-height: nth($font-scale, $font-index + 1);
}
