{
  "presets": [
    "es2015-subset-loose",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-react-remove-prop-types",
    "transform-export-extensions",
    "transform-react-jsx",
    "transform-react-constant-elements",
    "transform-strict-mode"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}