node_modules
.DS_Store
lib
site/.next
site/public
site/pages/api
site/pages/learn
site/pages/blog
site/pages/pose/api
site/pages/pose/learn
storybook-static
site/data/content.json
site/data/menus.json
site/next.config.js
.vscode
tmp
dist
*.log