node_modules
.DS_Store
lib
packages/site/.next
packages/site/pages/api
packages/site/pages/learn
packages/site/pages/blog
packages/site/pages/pose/api
packages/site/pages/pose/examples
packages/site/pages/pose/learn
packages/site/pages/popcorn/api
packages/site/data/content.json
packages/site/data/menus.json
packages/site/next.config.js
playground/public
storybook-static
.vscode
tmp
dist
*.log