{
  "presets": ["next/babel"],
  "plugins": [
    "transform-react-remove-prop-types",
    "transform-export-extensions",
    "transform-react-jsx",
    "transform-react-constant-elements",
    "transform-strict-mode",
    ["babel-plugin-root-import"],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
