body {
  background-image: radial-gradient(
    120% 600px at 50% 200px,
    #1c99ff,
    #7006be 120%
  );
  height: 100vh;
  padding: 0;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-family: PT Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
